<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyz.materialdesign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon1_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.a1lsa.materialdesign.activity.MainActivity">


        </activity>
        <activity android:name="com.a1lsa.materialdesign.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.a1lsa.materialdesign.activity.CoordinatorTestActivity"></activity>

        <activity android:name="com.a1lsa.materialdesign.activity.CollapsingToolbarTestActivity"></activity>
    </application>

</manifest>